.idea
*.iws
*.iml
*.ipr
target/
application-dev.yml
application-pro.yml
application-dem.yml
application-prod.yml
application-test.yml
.env.development
application-pro-example.yml
application-remote.yml
application.yml
