@import 'uview-plus/theme.scss';

$u-main-color: #333333;
$u-content-color: #666666;
$u-tips-color: #999999;
$u-light-color: #c0c4cc;
$u-border-color: #e5e5e5;
$u-bg-color: #f3f4f6;
$u-disabled-color: #c8c9cc;

$u-primary: #4173ff;
$u-primary-dark: #398ade;
$u-primary-disabled: #9acafc;
$u-primary-light: #ecf5ff;

$u-warning: #f9ae3d;
$u-warning-dark: #f1a532;
$u-warning-disabled: #f9d39b;
$u-warning-light: #fdf6ec;

$u-success: #5ac725;
$u-success-dark: #53c21d;
$u-success-disabled: #a9e08f;
$u-success-light: #f5fff0;

$u-error: #f56c6c;
$u-error-dark: #e45656;
$u-error-disabled: #f7b2b2;
$u-error-light: #fef0f0;

$u-info: #909399;
$u-info-dark: #767a82;
$u-info-disabled: #c4c6c9;
$u-info-light: #f4f4f5;
