package com.hxkj.common.mapper;

import com.hxkj.common.core.basics.IBaseMapper;
import com.hxkj.common.entity.${entityName};
import org.apache.ibatis.annotations.Mapper;

/**
 * ${functionName}
 */
@Mapper
public interface ${entityName}Mapper extends IBaseMapper<${entityName}> {
}
