package com.hxkj.common.mapper;

import com.hxkj.common.core.basics.IBaseMapper;
import com.hxkj.common.entity.${EntityName};
import org.apache.ibatis.annotations.Mapper;

/**
 * ${functionName}
 */
@Mapper
public interface ${EntityName}Mapper extends IBaseMapper<${EntityName}> {
}
