package ${packageName}.admin.service;

#if(!$table.genTpl.equals("crud"))
import com.alibaba.fastjson2.JSONArray;
#end
#if($table.genTpl.equals("crud"))
import ${packageName}.admin.validate.commons.PageValidate;
#end
import ${packageName}.admin.validate.${EntityName}CreateValidate;
import ${packageName}.admin.validate.${EntityName}UpdateValidate;
import ${packageName}.admin.validate.${EntityName}SearchValidate;
#if($table.genTpl.equals("crud"))
import ${packageName}.admin.vo.${EntityName}ListedVo;
#end
import ${packageName}.admin.vo.${EntityName}DetailVo;
#if($table.genTpl.equals("crud"))
import ${packageName}.common.core.PageResult;
#end

#set($isAuthor = !$authorName.equals(""))
/**
 * ${functionName}服务接口类
#if($isAuthor)
 * @author ${authorName}
#end
 */
public interface I${EntityName}Service {

 #if($table.genTpl=="crud")
    /**
     * ${functionName}列表
     *
     #if(!$authorName.equals(""))
     * @author ${authorName}
     #end
     * @param pageValidate 分页参数
     * @param searchValidate 搜索参数
     * @return PageResult<${EntityName}ListedVo>
     */
    PageResult<${EntityName}ListedVo> list(PageValidate pageValidate, ${EntityName}SearchValidate searchValidate);
#elseif($table.genTpl=="tree")
    /**
     * ${functionName}列表
     *
     #if(!$authorName.equals(""))
     * @author ${authorName}
     #end
     * @param searchValidate 搜索参数
     * @return JSONArray
    */
    JSONArray list(${EntityName}SearchValidate searchValidate);
 #end

    /**
     * ${functionName}详情
     *
     #if(!$authorName.equals(""))
     * @author ${authorName}
     #end
     * @param id 主键ID
     * @return ${EntityName}DetailVo
     */
    ${EntityName}DetailVo detail(Integer id);

    /**
     * ${functionName}新增
     *
     #if(!$authorName.equals(""))
     * @author ${authorName}
     #end
     * @param createValidate 参数
     */
    void add(${EntityName}CreateValidate createValidate);

    /**
     * ${functionName}编辑
     *
     #if(!$authorName.equals(""))
     * @author ${authorName}
     #end
     * @param updateValidate 参数
     */
    void edit(${EntityName}UpdateValidate updateValidate);

    /**
     * ${functionName}删除
     *
     #if(!$authorName.equals(""))
     * @author ${authorName}
     #end
     * @param id 主键ID
     */
    void del(Integer id);

}
