package com.hxkj.admin.service;

import com.hxkj.admin.validate.PageParam;
import com.hxkj.admin.validate.${EntityName}Param;
import com.hxkj.admin.vo.system.${EntityName}Vo;
import com.hxkj.common.core.PageResult;
import com.hxkj.common.entity.${EntityName};

import java.util.Map;

/**
 * ${functionName}服务接口类
 */
public interface ISystemAdminService {

    /**
     * ${functionName}列表
     *
     * @author ${authorName}
     * @param pageParam 分页参数
     * @return PageResult<${EntityName}Vo}>
     */
    PageResult<${EntityName}Vo> list(PageParam pageParam, Map<String, String> params);

    /**
     * ${functionName}详情
     *
     * @author ${authorName}
     * @param id 主键参数
     * @return ${EntityName}Vo
     */
    SystemAdminVo detail(Integer id);

    /**
     * ${functionName}新增
     *
     * @author ${authorName}
     * @param ${entityName}Param 参数
     */
    void add(${EntityName}Param ${entityName}Param);

    /**
     * ${functionName}编辑
     *
     * @author ${authorName}
     * @param ${entityName}Param 参数
     */
    void edit(${EntityName}Param ${entityName}Param);

    /**
     * ${functionName}删除
     *
     * @author ${authorName}
     * @param id 主键参数
     */
    void del(Integer id);

}
