package com.hxkj.admin.validate.system;

import com.hxkj.common.validator.annotation.IDMust;
import com.hxkj.common.validator.annotation.IntegerContains;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
import org.hibernate.validator.constraints.Length;

import lombok.Data;
import javax.validation.constraints.*;
import java.io.Serializable;

/**
 * ${functionName}参数
 */
@Data
@EqualsAndHashCode(callSuper = false)
@Accessors(chain = true)
public class ${EntityName}Param implements Serializable {

    private static final long serialVersionUID = 1L;

    public interface create{}
    public interface update{}
    public interface delete{}

#foreach ($column in $columns)
  #if($column.isInsert || $column.isEdit)
    #if($column.isPk)
    @IDMust(message = "${column.javaField}参数必传且需大于0", groups = {update.class, delete.class})
    #end
    #if(!$column.isPk && $column.isRequired)
    @NotNull(message = "${column.javaField}参数缺失", groups = {create.class, update.class})
    #end
    private ${column.javaType} ${column.javaField};
  #end

#end
}
