package ${packageName}.admin.validate;

import lombok.Data;
import java.io.Serializable;

#set($isAuthor = !$authorName.equals(""))
/**
 * ${functionName}参数
#if($isAuthor)
 * @author ${authorName}
#end
 */
@Data
public class ${EntityName}SearchValidate implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.isQuery==1)
    private ${column.javaType} ${column.javaField};

#end
#end
}
