package ${packageName}.admin.vo;

import lombok.Data;

import java.io.Serializable;
#foreach ($column in $columns)
#if ($column.javaType.equals("BigDecimal"))
import java.math.BigDecimal;
#end
#end

#set($isAuthor = !$authorName.equals(""))
/**
 * ${EntityName}Vo
#if($isAuthor)
 * @author ${authorName}
#end
 */
@Data
public class ${EntityName}ListVo implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.isList==1 || $column.isPk==1)
    #if($notesType.equals("top"))
    // ${column.columnComment}
    #end
    #if($dateFields.contains($column.columnName))
    private String ${column.javaField}; // ${column.columnComment}
    #else
    private ${column.javaType} ${column.javaField};  #if($notesType.equals("right"))// ${column.columnComment}#end
    #end
#end
#end

}
