name: CI

on:
  pull_request_target:
    branches:
      - main
  workflow_dispatch:

permissions:
  pull-requests: write

jobs:
  job1:
    name: Check Not Allowed File Changes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Build MacVDMTool
        run: echo "ok"
